/* Grid layout for features */


.button-bar {
    border: 'solid 1px';
    flex-direction: row;
    display: flex;
    padding: 20px;
    font-size: 1em;
    color: #dddddd;
    align-items: center;
}

button {
    background-color: transparent;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.button {
    border-radius: 50px;
    padding: 0px;
    width: 25px;
    color: #ffffff;
    border: none;
    cursor: pointer;
}


.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-size: .9em;
}



tr {
    border-bottom: solid 1px #000000;
}

td {
    border-bottom: solid 1px #7485ac;
    padding: 10px;
    color: #444444;
}

#pagination h1 {
    color: #444444;
}

#pagination h2 {
    color: #003c96;

}

#pagination h3 {
    color: #444444;
    
}

.search-input {
    height: 35px; 
    width: 200px; 
    border-radius: 7px;
    margin-bottom: 20px;
    margin-left: -28px;
    background-color: #c1cefc
}