/* Grid layout for features */


h3 {
    font-size: 1.5em;
    font-family: "Freeman";
    font-weight: 400;
    font-size: 1em;
  }

.button-bar {
    border: 'solid 1px';
    flex-direction: row;
    display: flex;
    padding: 20px;
    margin: 20px;
    font-size: 1em;
    color: #dddddd;
    align-items: center;
    width: 100%
}

.rows-per-page {
    font-size: .9em;
    width: 250px;
}

.pagination-text {
    flex-basis: 1;
    width: 250px;
    flex-grow: 1;
    font-size: .9em;
}

.button-item {
    color: #aaaaaa;
    flex-grow: 0;
    flex-basis: 0;
    margin: 5px;
    border-radius: 50px;
    padding: 2px;
    border: solid 1px #888888;
    background-color: #E0F4F7;
    font-size: .8em;
}

.row-select {
    border-radius: 5px;
    padding: 3px;
    color: #444444;
}

.similar-artists {
    height: 660px;
    width: 100%;
    overflow: auto;
}
