
@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poetsen+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 130, 32, 246;
  --background-start-rgb: 229, 89, 68;
  --background-end-rgb: 130, 32, 246;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 130, 32, 246;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.not-found {
  color: #ffffff;
  font-weight: 400;
}