@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');


:root {
  --foreground-rgb: 130, 32, 246;
  --background-start-rgb: 229, 89, 68;
  --background-end-rgb: 130, 32, 246;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 130, 32, 246;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #31525B;
  background: #98a0a0;
  height: 100%;
}

p {
  font-size: .87em;
  margin-top: 20px;
}

.freeman {
  font-size: 1.5em;
  font-family: "Freeman";
  font-weight: 400;
}



.mainContent {
  padding: 20px;
  color: #394E5A;
}

.link-button {
  cursor: pointer;
  border: solid 1px #444444;
  background-color: #c2fbf6;
  padding: 10px; 
  border-radius: 10px;
  text-align: center;
  width: 250px
}

.header {
  background-color: #ffffff;
  height: 50px;
  font-size: 1.25em;
  color: #338b9c;
  font-family: "Freeman";
  box-shadow: 0px 10% 15px rgba(0, 128, 128, 0.3);
  border-bottom: solid 1px rgba(0, 128, 128, 0.3);
}

.outer {
  background-color: #B3DEE5;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: flex-start; /* Aligns items to the top */
}

.container {
  background-color: #f4f2f2;
  padding-top: 20px;
  height: 100%;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: flex-start; /* Aligns items to the top */
}

.contrast {
  color: #FFA101;
}

.alt-bkg {
  background-color: #FAE6B1;
}

.standard-bkg {
  background-color: #B3DEE5;
}

.content {
  width: 1500px;
  max-width: 100%;
}

h1 {
  font-size: 1.5em;
  font-family: "Freeman";
  font-weight: 400;
  color: #338b9c;
}

h2 {
  font-size: 1.2em;
  font-family: "Freeman";
  font-weight: 400;
  color: #338b9c;
  margin-bottom: 15px;
}



/*
Primary (Teal): #32BEBB
Secondary (Soft Blue): #559CAD
Background (Light Grey): #F5F5F5
Text (Dark Slate Grey): #394E5A
Neutral (Pale Cyan): #E0F4F7
Highlight (Warm Yellow): #FFC857
*/


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
