/* Grid layout for features */

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');



h3 {
    font-size: 1.5em;
    font-family: "Freeman";
    font-weight: 400;
    font-size: 1em;
  }

.button-bar {
    border: 'solid 1px';
    flex-direction: row;
    display: flex;
    padding: 20px;
    margin: 20px;
    font-size: .8em;
    color: #dddddd;
    align-items: center;
    width: 100%
}

.rows-per-page {
    font-size: .9em;
    width: 250px;
}

.pagination-text {
    flex-basis: 1;
    width: 250px;
    flex-grow: 1;
    font-size: .9em;
}

.button-item {
    color: #aaaaaa;
    flex-grow: 0;
    flex-basis: 0;
    margin: 5px;
    border-radius: 50px;
    padding: 2px;
    border: solid 1px #888888;
    background-color: #E0F4F7;
    font-size: .8em;
}





/* SELECT MENU */


.searchfield-text {
    flex-basis: 0;
    flex-grow: 1;
}

.searchfield-close {
    font-size: 5;
    flex-basis: 0;
    cursor: pointer;
    color: #aaaaaa
}

.hidden { display: none; }

.visible { display: flex; }


.searchfield-arrow {
    flex-basis: 0;
    transition: transform 0.3s ease; /* Smooth transition for the rotation */
    color: #aaaaaa
}

.search-field {
    border-radius: 10px;
    border: solid 1px #aaaaaa;
    padding: 20px;
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    background-color: #fafafa;
}

.search-field:hover {
   border: solid 1px hsl(201, 85%, 37%);
}

.options-window {
    border-radius: 10px;
    border: solid 1px #dddddd;
    width: 300px;
    height: 300px;
    align-items: start;
    overflow: scroll;
    background-color: #fafafa;
}

.menu-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.menu-option {
    cursor: pointer;
    flex-grow: 1;              /* Take up available space vertically */
    width: 100%;               /* Full width of the container */
    padding: 10px;             /* Provides some spacing inside each option */    /* Border for visibility */
    box-sizing: border-box;    /* Includes padding and border in the width calculation */
    text-align: left;          /* Aligns text to the left */
    padding-left: 20px;
}

.menu-option:hover {
    background-color: #bad6f1;
}

.css-content {
    border: solid 1px #888888;
    background-color: #aaaaaa;
    color: #dddddd;
    padding: 20px;
    font-family: 'Fira Code', monospace;
    font-size: .8em
}
