.drawer-menu {
  background-color: #444444;
  height: 100%
}

.drawer-menu-subheader {
  font-size: 1em;
  font-family: 'Freeman';
  background-color: #444444;
  color: #52abc3;
}

.drawer-menu-icon {
  width: 20px; 
}

.noFocus:focus {
  border: none;
  outline: none;
}

.noFocus:active {
  border: none;
  outline: none;
}

.my-menu-button {
  border: none;
  outline: none;
}

.my-menu-button:focus {
  border: none;
  outline: none;
}

.my-menu-button:active {
  border: none;
  outline: none;
}

.list-subheader {
  font-size: 1em;
  font-family: 'Freeman';
  background-color: #666666;
  color: #52abc3;
}

.drawer-menu-button {
  margin-left: 20px;
  width: 300px;
  font-family: "Ubuntu Sans";
  background-color: #444444;
  cursor: pointer;
}

.drawer-menu-button:focus {
  border: none;
  outline: none;
}

.drawer-menu-button:click {
  border: none;
  outline: none;
}


.drawer-menu-button:hover {
  background-color: #555555;
}


.drawer-menu-text {
  font-size: .75em;
  color: #1e425a;
  font-family: "Ubuntu Sans";
}
  
.drawer-menu-subheader-text {
  font-size: 1em; 
  font-family: 'Freeman';
  margin-left: -26px;
}

.drawer-menu-item-text {
  margin-left: -20px;
  color: #888888;
}
  
.neutral {
  color: #52abc3;
}

.emphasis {
  color: #ff9900;
}

.alt-emphasis {
  color: #4189e1;
}

.de-emphasis {
  color: #111111;
}

