@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 130, 32, 246;
  --background-start-rgb: 229, 89, 68;
  --background-end-rgb: 130, 32, 246;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 130, 32, 246;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.radio-canada-big-button {
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  color: #89bac7;
  background: #98a0a0;
  height: 100%;
  font-size: .87em;
}

.header {
  background-color: #000000;
  height: 50px;
  font-size: 1.25em;
  color: #338b9c;
  font-family: "Freeman";
  box-shadow: 0px 10% 15px rgba(0, 128, 128, 0.3);
  border-bottom: solid 1px rgba(0, 128, 128, 0.3);
  position: fixed;
  z-index: 100;
}

.outer {
  background-color: #131415;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: flex-start; /* Aligns items to the top */
  position: relative;
  background-size: 30px 30px;
  box-shadow: inset 0px 10px 8px -8px rgba(14, 101, 122, 0.4);
}
 

.main-container {
  background-color: #404040;
  height: 100vh;
  background: repeating-linear-gradient(
    45deg,
    #2a2b2b 0px,
    #1c1c1c 4px
  );
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 80px;
  height: 100%;
  width: 90%;
  max-width: 1400px;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: flex-start; /* Aligns items to the top */
  /* background-image: linear-gradient( 109.6deg,  rgb(205, 254, 247) 11.2%, rgba(163,230,255,1) 91.1% ); */
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.6); /* Soft, spread blueish teal shadow */
}

.page-title {
    padding: 20px; 
    margin-left: -40px;
    width: 75%;
    background-color: #155263;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.page-title h1 {
  color: #6fccde;
}

p {
  margin-top: 20px;
}

.freeman {
  font-size: 1.5em;
  font-family: "Freeman";
  font-weight: 400;
}


.mainContent {
  padding: 20px;
  color: #394E5A;
}


.titleBar {
  background-color: #155263;
  color: #484848;
}

.main-content {
  padding: 20px;
}

.softCard {
  padding: 20px;
  border-radius: 4px;
  margin: 20px;
}

.image-border {
  padding: 1rem;
  border: solid 1px #555555;
  background-color: #333333;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.image-border-thin {
  border: solid 1px #a7a7a7;
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}

.modal-content {
  background: rgb(116, 177, 170);
  padding: 30px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
}


.blog-card {
  padding: 20px;
  border-radius: 5px; 
  margin: 20px;
  background-color: #333333;
  color: #aaaaaa;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  border: solid 1px #555555
}

.contrast {
  color: #FFA101;
}

.alt-bkg {
  background-color: #b1d8fa;
}

.pin-shadow {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
}

.card-date {
  font-size: .8em;
  font-family: 'Freeman';
}

.card-title {
  font-style: italic;
  font-size: .85em;
  color: #777777;
}

.standard-bkg {
  background-color: #B3DEE5;
}

.content {
  width: 1500px;
  max-width: 100%;
}

h1 {
  font-size: 1.5em;
  font-family: "Freeman";
  font-weight: 400;
  color: #338b9c;
}

h2 {
  font-size: 1.5em;
  font-family: "Freeman";
  font-weight: 400;
  color: #338b9c;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.2em;
  font-family: "Freeman";
  font-weight: 400;
  font-size: 1em;
  margin-top: 20px;
  margin-bottom: 10px;
}

.item-card {
  border-radius: 4px;
  border: solid 1px #918f8f;
  background-color: #636363;
}

.left-quote {
  text-align: right;
  margin-top: 150px;
  margin-right: 15px;
}


/*
Primary (Teal): #32BEBB
Secondary (Soft Blue): #559CAD
Background (Light Grey): #F5F5F5
Text (Dark Slate Grey): #394E5A
Neutral (Pale Cyan): #E0F4F7
Highlight (Warm Yellow): #FFC857
*/


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


h3 {
    font-size: 1.5em;
    font-family: "Freeman";
    font-weight: 400;
    font-size: 1em;
  }

/* Keyframes animation */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.btn-primary {
  font-family: "Ubuntu Sans";
  font-weight: 600;
  font-size: .8em;
}

.btn-primary:hover {
    animation: pulse 1s infinite;
}

.button-link {
    border: solid 1px #9878ab;
    padding: 10px;
    border-radius: 4px;
    font-size: .7em;
    cursor: pointer;
}

.button-gradient-glow {
    position: relative;
    background-color: #3498db; /* Blue background */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    overflow: hidden; /* Ensures the pseudo-element does not extend outside the button */
    transition: background-color 0.3s ease;
}

.button-gradient-glow::before {
  content: "";
  position: absolute;
  top: -50%; /* Expand the size to ensure complete coverage */
  left: -50%;
  width: 200%; /* Larger than the button to allow for a soft edge */
  height: 200%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0) 70%);
  border-radius: 50%;
  z-index: -1;
  transition: opacity 0.3s ease;
}

.button-gradient-glow:hover::before {
  opacity: 0; /* Fade out the glow effect on hover, optional */
}

.button-gradient-glow:focus {
  outline: none; /* Removes the outline seen on some browsers on focus */
}

.button-gradient-glow:hover {
  background-color: #2980b9; /* Darker shade of button color */
}

.link-button {
  cursor: pointer;
  border: solid 1px #75adbf;
  background-color: #000000;
  padding: 10px; 
  border-radius: 4px;
  text-align: center;
  width: 240px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-family: "Ubuntu Sans";
  font-weight: 600;
  font-size: .8em;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  color: #75adbf;
  font-size: .8rem;
}

.link-button a {
  color: #75adbf;
}


.link-button.glow-effect {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3); /* Stronger white light glow */
}


.link-button.glow-effect:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); /* Stronger white light glow */
}

.button-glow:focus {
  outline: none; /* Removes the outline seen on some browsers on focus */
}

.button-link:hover{
    background-color: #d8b0ef;
}

/* Additional card layout */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

button {
    padding: 10px 20px 10px 20px;
    margin: 10px;
    border: solid 1px #cccccc;
    border-radius: 5px
}

button:hover {
    background-color: #9878ab;
    color: #ffffff;
}

.card {
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}


/* SELECT MENU */


.searchfield-text {
    flex-basis: 0;
    flex-grow: 1;
}

.searchfield-close {
    font-size: 5;
    flex-basis: 0;
    cursor: pointer;
    color: #aaaaaa
}

.hidden { display: none; }

.visible { display: flex; }


.searchfield-arrow {
    flex-basis: 0;
    transition: transform 0.3s ease; /* Smooth transition for the rotation */
    color: #aaaaaa
}

.search-field {
    border-radius: 4px;
    border: solid 1px #aaaaaa;
    padding: 20px;
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    background-color: #fafafa;
}

.search-field:hover {
   border: solid 1px hsl(201, 85%, 37%);
}

.options-window {
    border-radius: 10px;
    border: solid 1px #dddddd;
    width: 300px;
    height: 300px;
    align-items: start;
    overflow: scroll;
    background-color: #fafafa;
}

.menu-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.selected {
    background-color: #94dedd;
    color: #222222;
}

.menu-option {
    cursor: pointer;
    flex-grow: 1;              /* Take up available space vertically */
    width: 100%;               /* Full width of the container */
    padding: 10px;             /* Provides some spacing inside each option */    /* Border for visibility */
    box-sizing: border-box;    /* Includes padding and border in the width calculation */
    text-align: left;          /* Aligns text to the left */
    padding-left: 20px;
}

.menu-option:hover {
    background-color: #bad6f1;
}

.css-content {
    border: solid 1px #3c3c3c;
    background-color: #aaaaaa;
    color: #e6e3e3;
    padding: 20px;
    font-family: 'Fira Code', monospace;
    font-size: .9em
}

.terminal-content {
  background-color: #313030;
  border: solid 1px #000000;
  color: #e6e3e3;
  padding: 20px;
  font-family: 'Fira Code', monospace;
  font-size: .9em
}

.code-content {
  border: solid 1px #333333;
  background-color: #111111;
  color: #e6e3e3;
  font-family: 'Fira Code', monospace;
  font-size: .9em;
  page-break-inside: avoid;
  font-family: monospace;
  word-wrap: break-word;
}


.features {
  flex-direction: column;
  display: flex;
  padding: 20px;
  margin: 20px;
  align-items: flex-start;
  justify-content: center;
  align-content: flex-start;
  border-radius: 4px;
  background-color: #4c6ddb;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.feature {
  flex-grow: 0;
  margin: 20px;
  border-radius: 4px;
  padding: 20px;
}

.innerBox {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.component {
  padding: 20px;
  border: solid 1px #000000;
  border-radius: 4px;
  background-color: #4c6ddb;
  background-image: linear-gradient(to top, #4c6ddb 0%, #6f86d6 100%);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.component-card {
  border: solid 1px #777777;
  padding: 20px; 
  border-radius: 10px; 
  margin-top: 20px;
  background-color: #444444;
}

.challenge-blue {
  background-color: #4c6ddb;
  border: solid 1px #000000;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 20px;
  border-radius: 4px;
  background-image: linear-gradient(to top, #4c6ddb 0%, #6f86d6 100%);
}

.challenge {
  padding: 20px;
  border-radius: 4px;
  background-color: rgb(71, 125, 147);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  color: #ffffff;
}


.challenge-purple {
  padding: 20px;
  border: solid 1px #000000;
  border-radius: 4px;
  background-color: #7d41bd;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  background-image: linear-gradient(to top, #4f227f 0%, #7d41bd 100%);
}

.node-challenge {
  padding: 20px;
  border: solid 1px #000000;
  border-radius: 4px;
  background-color: #de9a06;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  background-image: linear-gradient(to top, #9b6b03 0%, #de9a06 100%);
}


.flexbox-row {
  flex-direction: row;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-content: flex-start;
}

.white {
  color: #ffffff;
}

.resume-card {
  padding: 20px;
  margin-top: 20px;
  background-color: #aaaaaa;
}

/* Portfolio */

.tag-container {
  width: 400px;
  padding: 20px;
  margin-top: -10px;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
}

.tag {
  background-color: #222222;
  color: #4db1d0;
  padding: 8px;
  border-radius: 20px;
  border: solid 1px #4db1d0;
  margin: 5px;
  font-size: .6em;
}