.card {
    border: solid 1px #dddddd;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 11rem;
    margin: 10px;
    cursor: pointer;
    filter: drop-shadow(1px 1px 1px #5f5f82);
    background-color: #ffffff;
}

.card-back {
    background-color: #444444;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.vivid-orange {
    color: #FF5733
}

.vivid-yellow {
    color: #FFC300;
}

.vivid-lt-green {
    color: #DAF7A6;
}

.vivid-green {
    color: #33FF57;
}

.vivid-sky-blue {
    color: #33C1FF;
}

.vivid-violet {
    color: #8A33FF;
}