@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 130, 32, 246;
  --background-start-rgb: 229, 89, 68;
  --background-end-rgb: 130, 32, 246;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 130, 32, 246;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.radio-canada-big-button {
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  color: #31525B;

  background: #98a0a0;
  height: 100%;
  font-size: .87em;
}

.header {
  background-color: #0e004a;
  height: 50px;
  font-size: 1.25em;
  color: #338b9c;
  font-family: "Freeman";
  box-shadow: 0px 10% 15px rgba(0, 128, 128, 0.3);
  border-bottom: solid 1px rgba(0, 128, 128, 0.3);
  position: fixed;
  z-index: 100;
}

.outer {
  background-color: #d8deff;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: flex-start; /* Aligns items to the top */
  position: relative;
  background-image:
  radial-gradient(circle, #b0bec5 1px, transparent 1px);
  background-size: 30px 30px;
  box-shadow: inset 0px 10px 8px -8px rgba(14, 101, 122, 0.4);
  background: #ad5389;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
 

.main-container {
  background-color: #9dcaf7;
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 80px;
  height: 100%;
  width: 1200px;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: flex-start; /* Aligns items to the top */
  /* background-image: linear-gradient( 109.6deg,  rgb(205, 254, 247) 11.2%, rgba(163,230,255,1) 91.1% ); */
  box-shadow: 0 0 30px 10px rgba(0, 71, 71, 0.6); /* Soft, spread blueish teal shadow */
}


.background-deep-purple {
  background-color: #32003c;
}

.page-title {
    padding: 20px; 
    margin-left: -40px;
    width: 810px;
    background-color: #0e004a;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.page-title h1 {
  color: #00b9e7;
}

p {
  margin-top: 20px;
}

.freeman {
  font-size: 1.5em;
  font-family: "Freeman";
  font-weight: 400;
}


.mainContent {
  padding: 20px;
  color: #394E5A;
}

.link-button {
  cursor: pointer;
  border: solid 1px #18005f;
  background-color: #ff9d00;
  padding: 10px; 
  border-radius: 4px;
  text-align: center;
  width: 240px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-family: "Ubuntu Sans";
  font-weight: 600;
  font-size: .8em;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
  color: #004067;
}

.modal-content {
  background: rgb(116, 156, 177);
  padding: 30px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
}

.titleBar {
  background-color: #0f0047;
  color: #ffffff;
}

.main-content {
  padding: 20px;
}

.softCard {
  padding: 20px;
  border-radius: 4px;
  margin: 20px;
}

.item-card {
  border-radius: 4px;
}

.image-border {
  border: solid 20px #ffffff;
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}

.image-border-thin {
  border: solid 5px #ffffff;
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}

.blog-card {
  padding: 20px;
  border-radius: 5px; 
  margin: 20px;
}

.contrast {
  color: #FFA101;
}

.alt-bkg {
  background-color: #b1d8fa;
}
.card-date {
  font-size: .8em;
  font-family: 'Freeman';
}

.card-title {
  font-style: italic;
  font-size: .85em;
  color: #666666;
}

.standard-bkg {
  background-color: #B3DEE5;
}

.content {

  width: 1500px;
  max-width: 100%;
}

h1 {
  font-size: 1.5em;
  font-family: "Freeman";
  font-weight: 400;
  color: #0e004a;
}

h2 {
  font-size: 1.5em;
  font-family: "Freeman";
  font-weight: 400;
  color: #161563;
  margin-bottom: 15px;
}

h3 {
  font-size: 1.2em;
  font-family: "Freeman";
  font-weight: 400;
  font-size: 1em;
  margin-top: 20px;
  margin-bottom: 10px;
}



.left-quote {
  text-align: right;
  margin-top: 150px;
  width: 300px;
}


/*
Primary (Teal): #32BEBB
Secondary (Soft Blue): #559CAD
Background (Light Grey): #F5F5F5
Text (Dark Slate Grey): #394E5A
Neutral (Pale Cyan): #E0F4F7
Highlight (Warm Yellow): #FFC857
*/


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


h3 {
    font-size: 1.5em;
    font-family: "Freeman";
    font-weight: 400;
    font-size: 1em;
  }

/* Keyframes animation */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.btn-primary {
  font-family: "Ubuntu Sans";
  font-weight: 600;
  font-size: .8em;
}

.btn-primary:hover {
    animation: pulse 1s infinite;
}

.button-link {
    border: solid 1px #9878ab;
    padding: 10px;
    border-radius: 4px;
    font-size: .7em;
    cursor: pointer;
}

.button-link:hover{
    background-color: #d8b0ef;
}

/* Additional card layout */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

button {
    padding: 10px 20px 10px 20px;
    margin: 10px;
    border: solid 1px #cccccc;
    border-radius: 5px
}

button:hover {
    background-color: #9878ab;
    color: #ffffff;
}

.card {
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.ul-bullets {
  list-style-type: disc; /* Default style for unordered lists */
  padding-left: 20px; /* Adds indentation to list items */
}

.ol-numbers {
  list-style-type: decimal; /* Default style for ordered lists */
  padding-left: 20px;
}


/* SELECT MENU */


.searchfield-text {
    flex-basis: 0;
    flex-grow: 1;
}

.searchfield-close {
    font-size: 5;
    flex-basis: 0;
    cursor: pointer;
    color: #aaaaaa
}

.hidden { display: none; }

.visible { display: flex; }


.searchfield-arrow {
    flex-basis: 0;
    transition: transform 0.3s ease; /* Smooth transition for the rotation */
    color: #aaaaaa
}

.search-field {
    border-radius: 4px;
    border: solid 1px #aaaaaa;
    padding: 20px;
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    background-color: #fafafa;
}

.search-field:hover {
   border: solid 1px hsl(201, 85%, 37%);
}

.options-window {
    border-radius: 10px;
    border: solid 1px #dddddd;
    width: 300px;
    height: 300px;
    align-items: start;
    overflow: scroll;
    background-color: #fafafa;
}

.menu-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.selected {
    background-color: #94dedd;
}

.menu-option {
    cursor: pointer;
    flex-grow: 1;              /* Take up available space vertically */
    width: 100%;               /* Full width of the container */
    padding: 10px;             /* Provides some spacing inside each option */    /* Border for visibility */
    box-sizing: border-box;    /* Includes padding and border in the width calculation */
    text-align: left;          /* Aligns text to the left */
    padding-left: 20px;
}

.menu-option:hover {
    background-color: #bad6f1;
}

.css-content {
    border: solid 1px #888888;
    background-color: #aaaaaa;
    color: #e6e3e3;
    padding: 20px;
    font-family: 'Fira Code', monospace;
    font-size: .9em
}

.terminal-content {
  background-color: #313030;
  color: #e6e3e3;
  padding: 20px;
  font-family: 'Fira Code', monospace;
  font-size: .9em
}

.code-content {
  border: solid 1px #000000;
  background-color: #444444;
  color: #e6e3e3;
  font-family: 'Fira Code', monospace;
  font-size: .9em;
  page-break-inside: avoid;
  font-family: monospace;
  word-wrap: break-word;
}


.features {
  flex-direction: column;
  display: flex;
  padding: 20px;
  margin: 20px;
  align-items: flex-start;
  justify-content: center;
  align-content: flex-start;
  border-radius: 4px;
  background-color: #4c6ddb;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.feature {
  flex-grow: 0;
  margin: 20px;
  border-radius: 4px;
  padding: 20px;
}

.innerBox {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.component {
  padding: 20px;
  border-radius: 4px;
  background-color: #4c6ddb;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.challenge-blue {
  background-color: #4c6ddb;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 20px;
  border-radius: 4px;
}

.challenge {
  padding: 20px;
  border-radius: 4px;
  background-color: rgb(71, 125, 147);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  color: #ffffff;
}


.challenge-purple {
  padding: 20px;
  border-radius: 4px;
  background-color: rgb(125, 65, 189);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

.node-challenge {
  padding: 20px;
  border-radius: 4px;
  background-color: rgb(222, 154, 6);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  color: #ffffff;
}


.flexbox-row {
  flex-direction: row;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-content: flex-start;
}

.white {
  color: #ffffff;
}

.resume-card {
  padding: 20px;
  margin-top: 20px;
  background-color: #ffffff;
}